<div class="h1-no-desc"><h1>Изображения без описания</h1></div>
<div class="description">
  <p>Здесь находятся фотографии, для которых вы пока что не выбрали категории и не добавили поисковые теги.</p>
</div>
<%= will_paginate @photos %>
<div class='gallery row'>
  <%= render @photos %>
</div>
<%= will_paginate @photos %>