<li class="category">
  <%= link_to category.name, edit_category_path(category) %>
  <% if can_delete_category?(category) %>
      | <%= link_to 'удалить', category, method: :delete,
                   data: {confirm: "Удалить категорию #{category.name}?"} %>
  <% end %>
</li>