<div class="row">
  <%= render partial: 'form', layout: 'layouts/form_layout',
             locals: { title: 'Добавить категорию',
                       button_title: 'Добавить',
                       category: @category} %>
</div>
<h1>Категории</h1>
<%= will_paginate @categories %>
<ul class="categories">
  <%= render @categories %>
</ul>
<%= will_paginate @categories %>