<div class="row">
  <%= render partial: 'form', layout: 'layouts/form_layout',
             locals: { title: 'Добавить категорию',
                       button_title: 'Добавить',
                       category: @category} %>
</div>